# Ignores extensionless files not in the root directory, i.e. within a project
# directory. Building code leaves a lot of extensionless binaries around, which 
# would otherwise clutter the repository. Root directory files such as LICENSE 
# are not ignored.
*/*
!*.*

# Each project is submitted as a single zip file, which contains some of the
# files already present in the corresponding directory.
*.zip
*.dSYM

# Exclude text files since they don't include source code, except for "🗿.txt"
# (which shows the test cases I failed during grading, if any, and is not part
# of project submissions).
*.txt
!🗿.txt

.clang-format
.DS_Store
.vscode

# Lab 1 files provided by Prof. Ghaforyfard, not submitted
lab1/btest.c
lab1/Makefile
lab1/ishow.c
lab1/README
lab1/tests.c
lab1/btest.h
lab1/dlc
lab1/decl.c
lab1/bits.h

# Lab 4 files provided by Prof. Ghaforyfard, not submitted
lab4/clock.c
lab4/clock.h
lab4/config.h
lab4/fcyc.c
lab4/fcyc.h
lab4/fsecs.c
lab4/fsecs.h
lab4/ftimer.c
lab4/ftimer.h
lab4/mdriver.c
lab4/memlib.c
lab4/memlib.h
lab4/mm.h
lab4/submission-client.py
